*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    position: absolute;
    width: 100%;
    length: 66%;
    left: 0px;
    right: 0px;
    background-color: white;
}
main{
    text-align: center;
}
footer{
    background-color: lightgray;
}